.line {
    font-weight: bold;
    float: left;
}

.head {
    margin-right: 10px;
    float: left;
}

.add {
    font-weight: bold;
}

div:after {
    content: "";
    clear: both;
    display: block;
}

.new {
    clear: both;
}

.btn a {
    text-decoration: none;
    color: black;
    background-color: #EEEEEE;
    padding: 5px;
    border: solid 1px #DDDDDD;
}